<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="d-flex flex-column min-vh-100">
    @*Nav var inspired by https://bootswatch.com/*@
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <a href="" class="navbar-brand">Tadpole Events</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Event<span class="caret"></span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="">Link 1</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="">Link 2</a>
                            <a class="dropdown-item" href="">Link 3</a>
                            <a class="dropdown-item" href="">Link 4</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Nav-Bar 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Nav-bar 3</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-md-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Login<span class="caret"></span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="">Log In</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="">Register</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <main flex-shrink-0>
        <div class="container">
            @RenderBody()

        </div>
    </main>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-dark">Created by the Dev Team for the Software Development Capstone at Kirkwood Community College, 2022</span>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
